
<app-header></app-header>
<!-- Hero Section -->
<header class="hero bg-dark text-white text-center py-5 mt-5">
  <div class="container">
    <h1 class="display-4">Construisez votre avenir chez EY</h1>
    <p class="lead">Internify vous connecte aux meilleures opportunités de stage chez EY.</p>
    <a  class="btn btn-warning btn-lg mt-3" (click)="goStages()">Voir les stages</a>
  </div>
</header>

<!-- Section d'information -->
<section class="py-5 bg-light">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <h3>Postulez facilement</h3>
        <p>Découvrez et postulez en quelques clics.</p>
      </div>
      <div class="col-md-4">
        <h3>Suivez vos candidatures</h3>
        <p>Un suivi clair et rapide de votre statut.</p>
      </div>
      <div class="col-md-4">
        <h3>Rejoignez EY</h3>
        <p>Un environnement stimulant pour débuter votre carrière.</p>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
<app-footer></app-footer>